<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cherp Chat</title>  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

  <ul class="pages">
    <li class="chat page">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">sick.af</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class= "active"><a class="usernameTitle" href="#"></a></li>
              <li><a href="http://sick.af">sick.af</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rooms List<span class="caret"></span></a>
                <ul class="dropdown-menu roomsList" role="menu">
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a class = "endChatButton" href="#">end chat</a></li>
              <li><a href="/logout">logout</a></li>
              <li><a href="/login">login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div class="hostChatArea">
        <ul class="hostMessages"></ul>
      </div>
      <div class="fanChatArea">
        <ul class="fanMessages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
      <div class="imageButton">Send image<input type="file" id="imagefile" accept="image/*"></div>
    </li>

    <li class="chatname page">
      <div class="form">
        <h3 class="title">Enter chatroom name</h3>
        <input class="chatnameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  var user = <%- JSON.stringify(user) %>;
  </script>
  <script src="js/client.js"></script>
</body>
</html>