<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cherp chat">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cherp</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="js/smoke/smoke.css" rel="stylesheet">
    <link href="js/toastr/toastr.min.css" rel="stylesheet">


    <title>Cherp</title>
  </head>

    <body>
      
      <!-- Add navbar fullwidth of site + responsive -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cherp</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">   
                  <button type="button" class="btn btn-default new-chat-button start-hidden" id="create-room-button">Start Conversation</button>
                </form>

                <ul class="nav navbar-nav navbar-right start-hidden" id="right-nav-signed-out">
                  <li>
                    <a id="username-label"></a>
                  </li>
                  <li>
                    <button type="button" class="btn btn-default twitter-btn navbar-btn" id="twitter-signin">Sign in with Twitter</button>
                  </li>
                </ul>

                <ul class="nav navbar-nav navbar-right start-hidden" id="right-nav-signed-in"> <!-- right side that shows if user is signed out -->
                 <li class="dropdown" id="profile-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="username-label">Signed in as <%= user.username %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile" id="profile-link">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>

              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2 trending-rooms-col">
          <div class="well">
            <h5>Trending</h5>
              <div  id="trending-rooms"> <!-- Trending rooms row -->
                <li class="trending-room">Loading...</li>
              </div>
          </div>
        </div>



      <div class="chat-container start-hidden" id="chatRoom">

          <div class="chat-header-row"> <!-- chat header row -->
              
              
            </div>

             <div class="chat-windows">
                <div class="col-md-7 host-column">
                  <div class="chat-info">
                    <h5 id="host-label"/>
                  </div>
                  <div class="well">
                    <div class="host-message">
                      <ul class="list-group" id="hostMessages"></ul>
                    </div>
                  </div>

                      <div class="text-input-row">
                      <div class="input-group">
                        <input type="text" class="form-control" id="chat_input">
                        <span class="input-group-btn">
                        <!-- Split button -->
                          <button type="button" class="btn btn-default send-button" id="send-button">Send</button>
                          <!-- <div id="send-image-button" class="file_button_container">
                            <input type="file" id="imagefile" accept="image/*" />
                          </div> -->
                        </span>
                      </div>
                    </div>
                </div>

                <div class="col-md-3 fan-column no-padding">
                  <div class="chat-info">
                    <h5 id="members-label"/>
                  </div>


                  <div class="well">
                    <div class="fan-message" id="fan-message">
                  <ul class="list-group" id="fanMessages"></ul>
                </div>
                  </div>
                </div>

             </div>  
      </div>

      </div>
    </div>

    <!-- PROFILE -->

        <div class="modal fade" id="profile-modal">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header"> <!-- header -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="row-fluid profile-row" id="profile-header"> 
                  <div class="row"> 
                    <div class="col-md-1">
                      <img id="profile-avatar" />
                    </div>
                    <div class="col-md-11" id="profile-username">
                      <h3 class="modal-title"><strong>Modal title</strong></h3>
                      <a id="profile-twitter-link">Twitter</a>
                    </div>
                  </div>
                  <div class="row"> 
                    <div class="col-md-12">
                      <p class="profile-bio">Modal description</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-body"> <!-- body -->
                <div class="row-fluid profile-row">
                  <p><strong>Archived Chats:</strong></p>
                  <ul class="archived-chats-list">
                    <li id="loading">Loading...</li>
                  </ul>
                </div>
              </div>

              <div class="modal-footer"> <!-- footer -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='js/filereader.js'></script>
    <script src="js/smoke/smoke.js"></script>
    <script src="js/toastr/toastr.min.js"></script>
    <script>
    var user = <%- JSON.stringify(user) %>;
    console.log(user.wantsToJoin);


    </script>
    <script src="js/client.js"></script>

    </body> 

</html>