
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cherp chat">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cherp</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom styles for smoke -->
    <link href="js/smoke/smoke.css" rel="stylesheet">
    <!-- Custom styles for toastr -->
    <link href="js/toastr/toastr.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

        <div class="col-md-12"> <!-- main column -->
      
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Cherp</a>
            </div>

            <div class="collapse navbar-collapse">

              <div class="nav navbar-nav navbar-left"> <!-- left side -->
                <button type="button" class="btn btn-success navbar-btn new-chat-button start-hidden" id="create-room-button">Start Conversation</button>
              </div>

              <ul class="nav navbar-nav navbar-right start-hidden" id="right-nav-signed-out"> <!-- right side that shows if user is signed in -->
                <li><a id="username-label"></a></li>
                <li><button type="button" class="btn btn-info navbar-btn" id="twitter-signin"><span class="fa fa-twitter"></span>Sign in with Twitter</button></li>
              </ul>

              <ul class="nav navbar-nav navbar-right start-hidden" id="right-nav-signed-in"> <!-- right side that shows if user is signed out -->
                 <li class="dropdown" id="profile-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="username-label">Signed in as <%= user.username %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile" id="profile-link">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              </ul>

            </div>
          </nav>

          <div class="col-md-2"> <!-- Left column -->
            <h4>Trending</h4>
            <div class="row" id="trending-rooms"> <!-- Trending rooms row -->
              <li>Loading...</li>
            </div>


          </div>
          <div class="start-hidden" id="noRoomsImage"><img src="img/getstarted.png" style="width:304px;height:228px"/></div>
          <div class="col-md-10 chat-container start-hidden" id="chatRoom"> <!-- Chat column -->
            <div class="row chat-windows"> <!-- chat header row -->
              <div class="col-md-6 chat-info">
                <h5 id="host-label"/>
              </div>
              <div class="col-md-6 chat-info">
                <h5 id="members-label"/>
              </div>
            </div>

            <div class="row chat-windows"> <!-- chat windows row -->
              <div class="col-md-6">
                <ul class="list-group" id="hostMessages"></ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group" id="fanMessages"></ul>
              </div>
            </div>

            <div class="row text-input"> <!-- text input row column -->
              <div class="col-md-12">
                <div class="input-group">
                  <input type="text" class="form-control" id="chat_input">
                  <span class="input-group-btn">
                  <!-- Split button -->
                  <button type="button" class="btn btn-success send-button" id="send_button">Send</button>
                  <button type="button" class="btn btn-success success-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                  <li><input type="file" id="imagefile" accept="image/*"></li>
                  </ul>
                  </span>
              </div>
            </div>
          </div>

        </div>

        <!-- PROFILE -->

        <div class="modal fade" id="profile-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="row-fluid info">
                    <img id="profile-avatar" />
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="row-fluid description">
                  <p class="profile-bio">Modal description</p>
                </div>
              </div>
              <div class="modal-body">
                <h4>Archived Chats:</h4>
                <ul class="archived-chats-list">
                  <li id="loading">Loading...</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div> <!-- main column -->

    </div> <!-- container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='js/filereader.js'></script>
    <script src="js/smoke/smoke.js"></script>
    <script src="js/toastr/toastr.min.js"></script>
    <script>
    var user = <%- JSON.stringify(user) %>;
    console.log(user.wantsToJoin);
    </script>
    <script src="js/client.js"></script>
  </body>
</html>
