
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cherp chat">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cherp</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

        <div class="col-md-12"> <!-- main column -->
      
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Cherp</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="navbar-form navbar-left" role="search">
                <button type="button" class="btn btn-success new-chat-button" id="create-room-button">Start Conversation</button>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as <%= user.username %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/profile">Profile</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>

          <div class="col-md-2"> <!-- Left column -->
            <h4>Trending Conversations</h4>
            <div class="row" id="trending-rooms"> <!-- Trending rooms row -->
              <li>test1</li>
              <li>test2</li>
              <li>test3</li>
            </div>

          </div>
          
          <div class="col-md-10 chat-container"> <!-- Chat column -->

            <div class="row chat-windows"> <!-- chat windows row -->
              <div class="col-md-6">
                <ul class="list-group" id="hostMessages"></ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group" id="fanMessages"></ul>
              </div>
            </div>

            <div class="row text-input"> <!-- text input row column -->
              <div class="col-md-12">
                <div class="input-group">
                  <input type="text" class="form-control" id="chat_input">
                  <span class="input-group-btn">
                  <!-- Split button -->
                  <button type="button" class="btn btn-success send-button" id="send_button">Send</button>
                  <button type="button" class="btn btn-success success-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                  <li><input type="file" id="imagefile" accept="image/*"></li>
                  </ul>
                  </span>
              </div>
            </div>
          </div>

        </div>

      </div> <!-- main column -->

    </div> <!-- container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src='js/filereader.js'></script>
    <script>
    var user = <%- JSON.stringify(user) %>;
    </script>
    <script src="js/client.js"></script>
  </body>
</html>
