/*[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}*/

/*Removed alot of CSS for index page, don't know if I screwed up any styles anwhere else*/

body {
	padding-top: 10px;
	font-family: Menlo, 'Andale Mono', monospace;
}


.chat-container {
	padding-bottom: 20px;
}

#hostMessages, #fanMessages {
	height:600px;
	background-color: white;
    border: 1px solid #000;
	margin: 0;
	overflow-y: scroll;
}

.navbar-default {
	background-color: #000;
	color: #fff;
}

.trending-rooms-col {

	text-align: center;

}

.trending-rooms-col h4{

	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-right: 10px;

}

.start-hidden {
	display:none;
}

#noRoomsImage img{

	padding-left: 30px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {

	background-color: rgb(74, 74, 74);
	color: white;
}

.trending-room {

	text-align: left;
}

.centered-ul {

	text-align: center;
}

.input-group-btn {
	padding-left: 7px; /* THIS DOESNT FEEL RIGHT.  IDEALLY IT WOULD BE 5px */
}

.text-input-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.file_button_container, .file_button_container input {
    height: 34px;
    width: 46px;
}

.file_button_container {
    background: transparent url(http://sick.af/images/cameraicon.png) left top no-repeat;
    margin-left: 5px;
    vertical-align: middle;
	display: inline-block;
}

.file_button_container input {
    opacity: 0;
}

.typing {
	color: #D3D3D3;
}

@media(min-width:768px) {

	.host-column {
		padding-right: 20px;
	}

	.fan-column {
		padding-left: 20px;
	}
}

@media(min-width:992px) {
	.text-input-row {
		padding-bottom: 0px;
	}
}

/** {
    transition: 2.5s;
}*/



