/*[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}*/

body {
	padding-top: 10px;
	font-family: Menlo, 'Andale Mono', monospace;
}
ul {
	padding-left: 0px;
}

.chat-container {
	padding-bottom: 20px;
}

#hostMessages, #fanMessages {
	height:550px;
	background-color: white;
    border: 3px solid #000;
	margin: 0;
	overflow-y: scroll;
}

.text-input-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

#members-label {
	float: right;
}

.form-control {
	border-radius: 0px;
	border: 3px solid #000;
}

.list-group-item {
	border:0px;
	margin-bottom: 0px;
}

.trending-room {
	display: block;
	padding-left: 15px;
}

.trending-rooms-col{
	padding-left: 0px;
}

.list-group-item:first-child{
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}

.list-group-item:last-child {
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

.navbar {
	border-radius: 0px;
	border: 0px;
	min-height: 65px;
	padding-top: 9px;
}

.navbar-default {
	background-color: #000;
	color: #fff;
}

#username-label{
	padding: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #ccc;
}

.btn {
	border-radius: 0px;
	border:0px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color: #ccc;
	background-color: #000;
}

.modal-content {
	border-radius: 0px;
}

.btn-success {	
	background-color: #26a65b;
	padding: 7px 12px;
}
.btn-success:hover {
	background-color: #1b7942;
}

.input-group .form-control {
	width: 98%;
}

.start-hidden {
	display:none;
}

#twitter-signin {
	margin-right: 20px;
}

/*#chatRoom {
	display:none;
}*/

.panel {
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}

p {
	padding-left: 0px;
}

.message {
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}

.repost {
  margin-left: 30px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  list-style-type: none;
}

.dropdown-menu {
	border-radius: 0px;
	border: 1px solid #000;

}

.archived-chats-list {
	list-style-type: none;
}

.text-input {
	padding-top: 20px;
}

.new-chat-button {
	width: 180px;
}

.send-button {
	width: 80px;
}

.trending-users {
	padding-top: 20px;
}

.typing {
	color: #D3D3D3;
}

.username {
	padding-left: 10px;
}

#host-avatar, #fan-avatar {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
}

#fan-avatar {
	width: 20px;
	height: 20px;
}

#host-avatar {
	width: 30px;
	height: 30px;
}

.profile-row {
	padding-left: 20px;
	padding-right: 20px;
}

#profile-header {
	padding-top: 20px;
}

.profile-bio {
	padding-top: 20px;
}

.archive-list {
	padding: 0px;
}

#profile-avatar {
	width: 50px;
	height: 50px;
	/*border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;*/
	background-color: black;
}

#profile-username {
	padding-left: 30px;
	font-weight: bold;
}

#archive-delete-button {
  margin-top: 16px;
}

/*.send-button-row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.chat-info {
	padding-left: 0px;
	padding-right: 0px;
}

/* makes it so that list items break words to new line if they're too long */
li {
	word-wrap: break-word;
}

.log-message {
	font-size: 12px;
}

@media(min-width:768px) {

	.host-column {
		padding-right: 20px;
	}

	.fan-column {
		padding-left: 20px;
	}
}

@media(min-width:992px) {
	.text-input-row {
		padding-bottom: 0px;
	}
}